.try-again-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Teko', sans-serif;
}

.try-again-container > h1{
    text-decoration: underline;
    margin:0;
    font-size:56px;
    margin-bottom: 40px;
    letter-spacing: 3px;

}

.result-container > p{
     font-size: 30px;
     margin:10px;
     font-family:'Teko', sans-serif;
     letter-spacing: 2px;
}

.end-btn{
    position: relative;
    margin:22px;
    border:none;
    border-radius: 4px;
    min-width: 64px;
    padding: 2px 16px;
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    cursor: pointer;
    transition: background-color 0.2s;
    
}
.start-again-btn{
    background-color: #3e4248;
    color:white;
}
.start-again-btn:hover,
.start-again-btn:focus {
    background: #808080;
    color:black;
}

.share-btn{
    background: #204492;
    color:white;
}


.share-btn:hover,
.share-btn:focus{

    background: #5d7dc4;
    color:black;
}


.tweet-btn{
    background:#1da1f2;
    color:white;
}

.tweet-btn:hover,
.tweet-btn:focus{
    background: #8faef3;
    color:black;
}